:root {
  --basic-black: #000000;
  --basic-white: #ffffff;
  --basic-Blue-gray-Crayola: #81B3D2;
  --basic-Flea-Reddish-brown: #766357;
}

/*
html {
  overflow-x: hidden;
} */

body {
  overflow-x: hidden;
  background: #F2F2F2;
}


.popup__block-1-number-text::-webkit-outer-spin-button,

.popup__block-1-number-text::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.input-prices::-webkit-outer-spin-button,
.input-prices::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.input-prices[type=number] {
  -moz-appearance: textfield;
}

.popup__block-1-number-text[type=number] {
  -moz-appearance: textfield;
}

@font-face {
	font-family: "PTSans-Bold";
  	src: url("../fonts/PTSans-Bold.woff2") format("woff2"),
         url("../fonts/PTSans-Bold.woff") format("woff");
         font-weight: 700;
    font-style: normal;
}

@font-face {
  font-family: "PTSans";
    src:url("../fonts/PTSans.woff2") format("woff2"),
        url("../fonts/PTSans.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
}

.wrapper {
  box-shadow: 0 0 70px rgb(73, 73, 73);
  overflow: hidden;
  background: white;
  max-width: 1200px;
  margin: 0 auto;
}

.hidden {
  visibility: hidden;
}

.modal-visibility {
  display: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* index */

/*header*/

.header {
  position: relative;
  background: var(--basic-white);
  font-family: 'PTSans-Bold', Arial, sans-serif;
  font-size: 14px;
  width: 100%;
  min-height: 55px;
  color: black;
}

.header__logo-block {
  position: absolute;
  top: 0; left: 50%;
  transform: translatex(-50%);
}

.container-header {
  max-width: 1056px;
  margin: 0 auto;
}

.header__nav {
  display: flex;
  min-height: 55px;
}

.header__nav-list {
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.header__nav-item {
  text-transform: uppercase;
  /* margin-right: 200px; */
}

.header__nav-item:nth-child(2) {
  margin-right: 343px;
  /* margin-left: -5px; */
}

.header__nav-item:nth-child(3) {
  margin-left: -50px;
}

.header__nav-item:nth-child(4) {
  margin-left: 2px;
}

.header__nav-item:last-child {
  margin-right: 0;
}

.navivigation_list__item-link {
  margin-top: 5px;
  color: var(--basic-black);
}
.navivigation_list__item-link:hover {
  color: var(--basic-Blue-gray-Crayola);
}

.navivigation_list__item-link:focus {
  color: var(--basic-black);
  opacity: 0.3;
}

.active_header-link {
  color: #766357;
}

/* конц header*/


/*bg section*/

.main__bg_section {
  background: url(../img/background-photo.jpg) no-repeat;
  background-color: #D2A08A;
  height: 509px;
  width: 100%;
  background-position: center;
  background-size: cover;
}

.main__bg_section-text {
  width: 1208px;
  height: 509px;
  position: relative;
}

.main__bg_section-text img {
  position: absolute;
  top: 45%; left: 49%;
  transform: translate(-50%, -50%);
}

.triangles {
  background: url(../img/triangle-rod-picture.svg) no-repeat;
  background-position: center;
  background-size: cover;
  position: absolute;
  top: 508px;
  width: 1200px;
  height: 57px;
}

.description {
  padding-top: 42px;
}

/*text description */

.description-title-block  {
  display: flex;
  justify-content: center;
}

.description-title {
  text-transform: uppercase;
  text-align: center;
  line-height: 27px;
  font-family: 'PTSans-Bold', Arial, sans-serif;
  font-size: 21px;
  margin: 0;
  padding: 0 200px;
}

.description-descr {
  font-family: 'PTSans', Arial, sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  color: #333333;
  text-align: center;
  margin: 0 auto;
  max-width: 700px;
  margin-top: 47px;
  margin-bottom: 57px;
}

/* /text description */

.descr-block {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 256px;
  color: var(--basic-white);
}

.descr-block-one {
  padding: 0 44px;
  text-align: center;
  line-height: 21px;
  background: var(--basic-Blue-gray-Crayola);
}

.block-two {
  grid-column: 2/4;
}

.block-two img {
  width: 100%;
  height: 100%;
}

.descr-block-title {
  text-transform: uppercase;
  padding: 0 60px;
  margin-top: 47px;
  margin-bottom: 25px;
  font-family: 'PTSans-Bold', Arial, sans-serif;
  font-weight: 800;
  font-size: 21px;
}

.descr-block-one-two {
  padding: 2px 40px;
  text-align: center;
  background: var(--basic-Blue-gray-Crayola);
}

.descr-block-number {
  margin-bottom: 23px;
  font-family: 'PTSans', Arial, sans-serif;
  font-size: 14px;
}

.descr-block-descr {
  line-height: 21px;
  text-transform: uppercase;
  font-family: 'PTSans', Arial, sans-serif;
  font-size: 14px;
}


.block-one-two {
  background: var(--basic-Blue-gray-Crayola);
  text-align: center;
}

.block-2-two img {
  width: 100%;
  height: 100%;
}

.enumer-section {
  padding-top: 58px;
  padding-bottom: 80px;
}

.enumer-nav-list {
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  font-size: 21px;
}

.enumer-nav-list-items {
  padding: 0;
  margin: 0;
}

.enumer-items-name {
  margin-left: 0;
  margin-bottom: 0;
  margin-right: 0;
  margin-top: 23px;
  text-transform: uppercase;
  font-family: 'PTSans-Bold', Arial, sans-serif;
}

.enumer-items-descr {
  text-transform: uppercase;
  padding: 0 50px;
  margin-left: 0;
  margin-bottom: 0;
  margin-right: 0;
  margin-top: 24px;
  line-height: 21px;
  font-family: 'PTSans', Arial, sans-serif;
  font-size: 14px;
}

.description-img-block-two {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 256px;
  color: white;
}

.block-2-two {
  grid-column: 1/3;
}


.pros-nav-list  {
  margin: 0;
  padding: 0;
  padding-top: 26px;
  padding-bottom: 40px;
  margin-left: 0;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background: #EEEEEE;
}

.pros-nav-list-item-title{
  padding: 0 130px;
  margin-bottom: 23px;
  text-transform: uppercase;
  font-family: 'PTSans-Bold', Arial, sans-serif;
  font-size: 21px;
}

.pros-nav-list-item-numders {
  font-family: 'PTSans', Arial, sans-serif;
  font-size: 14px;
  margin-bottom: 28px;
}

.pros-nav-list-item-desr {
  text-transform: uppercase;
  line-height: 21px;
  padding: 0 71px;
  font-family: 'PTSans', Arial, sans-serif;
  font-size: 14px;
}

.map-section {
  position: relative;
}

.map-section-title {
  font-family: 'PTSans-Bold', Arial, sans-serif;
  text-transform: uppercase;
  text-align: center;
  font-size: 30px;
  line-height: 24px;
  padding: 0 300px;
  margin-top: 54px;
  margin-bottom: 4px;
  margin-left: -10px;
}


.map-section-descr {
  text-transform: uppercase;
  padding: 0 100px;
  font-family: 'PTSans',Arial, sans-serif;
  text-align: center;
  font-size: 14px;
  line-height: 21px;
  color: black;
  margin-top: 39px;
  margin-bottom: 45px;
}

.map-section-btn {
  cursor: pointer;
  display: block;
  margin: 0 auto;
  border: none;
  color: var(--basic-white);
  font-family: 'PTSans-Bold', Arial, sans-serif;
  text-transform: uppercase;
  font-size: 21px;
  background: var(--basic-Flea-Reddish-brown);
  padding: 30px 124px;
  width: 568px;
  height: 86px
}

.map-section-btn:hover {
  background: #604E43;
}



.map-section-btn:active {
  background: #503E33;
  color: #ffffff33;
}

.popup {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 568px;
  height: 395px;
  background: var(--basic-white);
  z-index: 11;
  font-size: 14px;
  font-family: 'PTSans-Bold', Arial, sans-serif;
  animation: bounce 0.5s;
}


.popup__body {
  padding: 55px;
}

.popup__bata {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.date__popup {
  grid-column: 1/5;
}

.popup_label {
  text-transform: uppercase;
  margin-bottom: 30px;
  position: relative;
  height: 38px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.popup_label--input-calendar {
  fill: #A9A9A9;
  cursor: pointer;
  display: block;
  position: absolute;
  top: 50%; right: 19px;
  transform: translateY(-50%);
  background: none;
  outline: none;
  border: none;
  width: 21px;
  height: 23px;
}

.popup_label--input-calendar:hover {
  fill: var(--basic-black);
}

.popup_label--input-calendar:active{
  fill: #81B3D2;
}

.popup_label span {

  display: flex;
  align-items: center;
}

.popup_label .popup_label--input-text {
  grid-column: 2/5;
}

.popup_label--input-text {
  cursor: pointer;
  border: 2px solid #F2F2F2;
  text-transform: uppercase;
  outline: none;
  background: #F2F2F2;
  padding-left: 10px;
  height: 100%;
}

.popup_label--input-text:hover {
  background: #EBEBEB;
}

.popup_label--input-text:focus {
  background: transparent;
  border: 2px solid #E5E5E5;
}

.popup__btn {
  border: 0;
  padding: 14px;
}

.adults__popup {
  display: flex;
  justify-content: space-between;
}

.popup__block-one {
  display: flex;
  height: 38px;
}

.popup__block-2 {
    height: 38px;
}

.popup__block-one-number {
  display: flex;
  width: 114px;
}

.flex-block-number {
  display: inline-flex;
  justify-content: space-between;
}


.block-one-number-one {
  margin-left: 40px;
}

.block-one-number-two {
  display: flex;
  width: 114px;
  height: 38px;
  margin-left: 30px;
}

.popup__block-one-number__pluse {
  fill: #A9A9A9;
}
.popup__block-one-number__munus {
  fill: #A9A9A9;
}

.popup__block-one-number__pluse:hover {
  fill: #000000;
}
.popup__block-one-number__munus:hover {
  fill: #000000;
}

.popup__block-one-number__pluse:active {
  fill: var(--basic-Blue-gray-Crayola);
}
.popup__block-one-number__munus:active {
  fill: var(--basic-Blue-gray-Crayola);
}



.popup__block-one--text {
  text-transform: uppercase;
  display: flex;
  align-items: center;
}

.popup__block-1-number-text {
  cursor: default;
  border: 0;
  background: #F2F2F2;
  outline: none;
  text-align: center;
  width: 100%;
}

.btn-nuber {
  position: relative;
  cursor: pointer ;
  border: 0;
  padding: 10px;
}

.btn-nuber svg {
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup__btn-search {
  text-transform: uppercase;
  margin-top: 54px;
  font-size: 21px;
  cursor: pointer;
  color: var(--basic-white);
  background: var(--basic-Blue-gray-Crayola);
  border: 0;
  width: 100%;
  height: 58px;
}

.popup__btn-search:hover {
  background: #669EC0;
}

.popup__btn-search:active {
  background: #5496BD;
  color: #ffffff4d;
}

.map {
  width: 100%;
  position: relative;
}
.img-map {
  position: absolute;
  top: 0; left: 0;
}

.map-block {
  width: 100%;
  height: 591px;
}

footer {
    position: relative;
    margin-top: -120px;
    z-index: 10;
    background-color: var(--basic-white);
    opacity: 0.9;
    height: 120px;
}

.footeer {
  margin-top: 0;
}

.container-footer {
  width: 930px;
  height: 120px;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
  display: flex;
}

.section-footer-one {
  margin-left: 18px;
  margin-top: -4px;
}

.section-footer-one-text {
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
  text-align: center;
  color: black;
  font-size: 21px;
  text-transform: uppercase;
  font-family: 'PTSans-Bold', Arial, sans-serif;
}

.icon-footer-section {
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 3px;
}

.footer-nav-list-icon {
  margin: 0;
  padding: 0;
  display: flex;
}

.footer-nav-list-icon-item{
  margin-right: 6px;
}

.footer-nav-list-icon-item:last-child {
  margin-right: 0;
}

.footer-nav-list-icon-item {
  position: relative;
  display: inline-block;
  vertical-align: auto;
  width: 46px;
  height: 46px;
  background: var(--basic-Blue-gray-Crayola);
}

.footer-nav-list-icon-item:hover {
  background: #669EC0;
}

.footer-nav-list-icon-item-link {
  position: relative;
  display: inline-block;
  vertical-align: auto;
  width: 46px;
  height: 46px;
  background: var(--basic-Blue-gray-Crayola);
}

.footer-nav-list-icon-item-link svg {
  fill: var(--basic-white);
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
}

.footer-nav-list-icon-item-link:active {
  background: #5496BD;
  fill: #ffffff33;
}

.footeer .container-footer .section-footer-one {
  margin-top: -10px;
}

.footeer .container-footer .icon-footer-section {
  margin-top: 0px;
}

.footeer .container-footer .website{
  margin-top: 0px;
}



.website {
  margin-top: 8px;
  margin-right: -4px;
  display: flex;
}

.website-text {
  margin: 0;
  padding: 0;
  margin-top: 10px;
  text-transform: uppercase;
  font-family: 'PTSans', Arial, sans-serif;
  font-size: 14px;
  margin-right: 15px;
}

.website a {
  fill: var(--basic-black);
}

.website a:hover {
  fill: var(--basic-Blue-gray-Crayola);
}

.website a:active {
  fill: var(--basic-black);
  opacity: 0.3;
}

/* cotolog */

.filtr {
  background: url("../img/background.png");
  width: 100%;
  height: 217px;
}

.form-section-filters {
  display: block;
  margin: 0;
}

.form-filters-wrapper {
  padding-right: 72px;
  display: flex;
  background: url(../img/background.png) no-repeat center;
  background-color: #D2A08A;
  width: 1200px;
  min-height: 218px;
  color: var(--basic-white);
  box-sizing: border-box;
}

.fieldset-filters {
  border: 0;
}

.fieldset-filters:last-child {
  padding: 0;
  margin: 0;
}

.Infrastructure {
  margin-top: 14px;
}

.prices  {
  display: flex;
  width: 313px;
  height: 30px;
  text-transform: uppercase;
  align-items: center;
  border: 2px solid var(--basic-white);
  border-radius: 2px;
  margin-top: 15px;
}

.price-amount {
  cursor: pointer;
  width: 50%;
}

.vertecal-line {
  display: block;
  width: 2px;
  height: 22px;
  background: white;
}

.min-price {
  display: inline-block;
  vertical-align: auto;
  font-family: 'PTSans', Arial, sans-serif;
  font-size: 14px;
  width: 100%;
  height: 100%;
  text-align: center;
  color: var(--basic-white);
}

.max-price {
  display: inline-block;
  vertical-align: auto;
  font-family: 'PTSans', Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  width: 100%;
  height: 100%;
  text-align: center;
  color: var(--basic-white);
}

.min-price input,
.max-price input {
  cursor: text;
  outline: none;
  font-size: 14px;
  width: 40px;
  height: 12px;
  line-height: 14px;
  margin: 0;
  border: none;
  color: var(--basic-white);
  background: transparent;
}


.wrapper-renge {
  position: relative;
  margin-top: 11px;
  margin-bottom: 24px;
}

.conteiner-range {
  position: relative;
  cursor: pointer;
	width: 100%;
	height: 20px;
}

.slider-tarck {
	width: 100%;
  height: 2px;
  background: #ABABAB;
	position: absolute;
	margin: auto;
	top: 0; bottom: 0;
	border-radius: 5px;
}

.bar {
  width: 80%;
  height: 100%;
  background: white;
}

.range {
  position: absolute;
  width: 5px;
  height: 5px;
  background: #ABABAB;
  border: 9px solid white;
  border-radius: 50%;
  top: -2px;
  box-shadow: 0 3px #ABABAB;
  transition: transform .4s;
}

.range:hover {
  transition: transform .4s;
  transform: scale(1.2);
}

.range1 {
  position: absolute;
  left: -3px;
}

.range2 {
  position: absolute;
  left: 80%;
}


/*чек*/


.section-checkboxes {
  min-width: 255px;
  margin-top: 27px;
  display: flex;
}

.section-checkboxes:first-child {
  margin-left: 73px;
}


.section-checkboxes:last-child {
  margin-left: auto;
}

legend {
  font-size: 16px;
  text-transform: uppercase;
  font-family: 'PTSans-Bold', Arial, sans-serif;
}

.filters-list {
  margin: 0;

}

.filters-item label {
  position: relative;
  cursor: pointer;
  user-select: none;
  display: block;
  font-size: 14px;
  line-height: 21px;
  font-family: 'PTSans', Arial, sans-serif;
  text-transform: uppercase;
}

.filters-item {
  margin-bottom: 25px;
}

.filter-input-checkbox:focus + label::before {
  box-shadow: 0 0 2px 2px #000000;
}


.checkbox-content {
  padding: 5px 0;
}

.checkbox {
  display: flex;
  padding-left: 20px;
  padding: 12px 0;
}

.label-text {
  height: 23px;
  display: flex;
  align-items: center;
}

.span-text {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
  font-size: 14px;
  line-height: 21px;
  font-family: 'PTSans', Arial, sans-serif;
  text-transform: uppercase;
  margin-left: 13px;
}

.sheckbox-castum {
  display: inline-block;
  vertical-align: auto;
  width: 23px;
  height: 23px;
  border: 2px solid var(--basic-white);
  border-radius: 4px;
  position: relative;
}

.sheckbox-castum::before {
  cursor: pointer;
  content: "";
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  background: url("../img/icon/checkbox.svg");
  width: 24px;
  height: 18px;
  opacity: 0;
  transition: opacity .6s ease-in-out;
}

.checkbox input:checked + .sheckbox-castum::before {
  opacity: 1;
}

.checkbox input:focus + .sheckbox-castum {
  box-shadow: 0 0 2px 2px #51a7e8;
}

.checkbox input:disabled + .sheckbox-castum  {
  border: 2px solid #6A6A6A;
}

.checkbox input:disabled:checked + .sheckbox-castum::before {
  opacity: 1;
  background: url("../img/icon/checkbox-dis.svg");
  width: 24px;
  height: 18px;
}

.button-show {
  width: 100%;
  margin-left: 84px;
}

.show-button {
  cursor: pointer;
  color: var(--basic-white);
  font-size: 14px;
  text-transform: uppercase;
  font-family: 'PTSans', Arial, sans-serif;
  font-weight: 400;
  width: 137px;
  height: 36px;
  border: 2px solid var(--basic-white);
  background: transparent;
}

.show-button:hover {
  color: var(--basic-black);
  background: var(--basic-white);
}

.result {
  border-bottom: 1px solid #E5E5E5;
}

.result-conent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 87px;
}

.result-title {
  text-transform: uppercase;
  font-size: 21px;
  font-family: 'PTSans', Arial, sans-serif;
  margin: 0;
  margin-top: -4px;
  margin-right: 46px;
}

.answers-information-title a {
  color: var(--basic-black);
}

.answers-information-title a:focus {
  color: var(--basic-black);
  opacity: 0.3;
}

.answers-information:hover .answers-information-title a {
  color: var(--basic-Blue-gray-Crayola);
}

.result-descr {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-size: 12px;
  font-family: 'PTSans', Arial, sans-serif;
  padding: 0;
  margin: 0;
  margin-right: 40px;
  margin-top: -7px;
}

.test-result-btn-text {
  font-size: 12px;
  font-family: 'PTSans', Arial, sans-serif;
}

.btn-text {
  display: flex;
  margin-right: 32px;
  font-family: 'PTSans', Arial, sans-serif;
}

.btn-reset-result:hover,
.btn-reset-result-text:hover {
  fill: var(--basic-black);
  color: var(--basic-Blue-gray-Crayola);
}
.btn-reset-result:focus,
.btn-reset-result-text:focus span {
  fill: var(--basic-Blue-gray-Crayola);
  color: var(--basic-black);
  border-bottom: none;
}

.btn-reset-active span {
  color: var(--basic-Blue-gray-Crayola);
  border-bottom: none;
}

.test-result-btn-text {
  display: flex;
  text-transform: uppercase;
  align-items: center;
  margin: 0;
  margin-top: -4px;
  margin-right: 34px;
}

.test-result-btn-text .test-result-btn-text-link-link {
  color: rgba(0, 0, 0, 0.300);
  border-bottom: 1px dotted var(--basic-Blue-gray-Crayola);
}

.test-result-btn-text-link-link-active {
  color: var(--basic-Blue-gray-Crayola);
  border: 0;

}

.test-result-btn-text-link-link:hover {
  color: var(--basic-Blue-gray-Crayola);
}

.test-result-btn-text-link-link:focus {
  color: #000000;
}

.result-switch--btn {
  margin: 0;
  margin-left: 9px;
  fill: #cacaca;
  cursor: pointer;
  border: 0;
  background: transparent;
}

.result-switch--btn:hover {
  fill: var(--basic-black);
}

.result-switch--btn:focus {
  fill: var(--basic-Blue-gray-Crayola);
}

.result-switch--btn-active {
  fill: var(--basic-Blue-gray-Crayola);
}

.AnnUsdug-navs-list {
  padding: 0;
  margin: 0;
}

.AnnUsdug-navs-list-item {
  min-height: 80px;
  border-bottom: 1px solid #E5E5E5;
}

.AnnUsdug-conteiner {
  display: flex;
  align-items: center;
  padding: 28px 0;
  justify-content: space-between;
  width: 1055px;
  margin: 0 auto;
  min-height: 80px;
}

.AnnUsdug-block-one {
  display: flex;
}

.AnnUsdug-img-conent {
  margin-right: 30px;
}

.AnnUsdug-info-title {
  text-transform: uppercase;
  font-family: 'PTSans-Bold', Arial, sans-serif;
  font-size: 21px;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: -5px;
}

.AnnUsdug-info-title-link {
  text-transform: uppercase;
  color: #000000;
}

.AnnUsdug-info:hover .AnnUsdug-info-title .AnnUsdug-info-title-link {
  color: var(--basic-Blue-gray-Crayola);
}

.AnnUsdug-info:active .AnnUsdug-info-title .AnnUsdug-info-title-link {
  color: rgba(0, 0, 0, 0.300);
}

.AnnUsdug-price {
  display: flex;
  font-family: 'PTSans', Arial, sans-serif;
  font-size: 14px;
  margin-bottom: 22px;
}

/**/

.AnnUsdug-price p {
  margin: 0;
  margin-top: 10px;
  width: 117px;
}

.AnnUsdug-info-type {
  text-transform: uppercase;
  margin-right: 30px;
}

.AnnUsdug-info-prise {
  font-family: 'PTSans', Arial, sans-serif;
  text-transform: uppercase;
}

.AnnUsdug-info-link {
  text-transform: uppercase;
  padding: 4px 17px;
  background: var(--basic-Blue-gray-Crayola);
}

.AnnUsdug-info-link:hover {
  background: #669EC0;
}

.AnnUsdug-info-link:active {
  background: #5496BD;
  color: rgba(255, 255, 255, 0.300);
}

.AnnUsdug-info-block {
  color: var(--basic-white);
  font-size: 14px;
  font-family: 'PTSans-bold', Arial, sans-serif;
  text-transform: uppercase;
  padding: 4px 17px;
  background: #766357;
  border: 0;
}

.AnnUsdug-info-block:hover {
  background: #604E43;
}

.AnnUsdug-info-block:active {
  background: #503E33;
  color: rgba(255, 255, 255, 0.300);
}

.btn-link {
  margin-right: 2px;
  cursor: pointer;
  font-size: 14px;
  font-family: 'PTSans-Bold', Arial, sans-serif;
  color: var(--basic-white);
}

.AnnUsdug-block-two {
  display: flex;
  height: 90px;
  flex-direction: column;
  justify-content: space-between;
}

.star-block {
  display: flex;
  justify-content: flex-end;
}

.reiting {
  font-family: 'PTSans', Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: #666666;
  padding: 3px 12px;
  background: #F2F2F2;
  margin: 0;
}

.star-reiting {
  margin-top: -3px;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 4px;
}


@keyframes bounce {
  0% {
    transform: translateY(-2000px) translateX(-50%);
  }

  70% {
    transform: translateY(100px) translateX(-50%);
  }

  90% {
    transform: translateY(-10px) translateX(-50%);
  }

  100% {
    transform: translateY(0) translateX(-50%);
  }
}
